
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a routerLink="/"><img src="./images/FinTrack.png" alt="login image" width="100px" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <!-- Show when NOT logged in -->
      <ng-container *ngIf="!authService.isLoggedIn()">
        <div class="d-flex">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li><a class="nav-link" routerLink="/user-management/login">Login</a></li>
        <li><a class="nav-link" routerLink="/user-management/register">Register</a></li>
        </ul>
        </div>
      </ng-container>

      <ng-container *ngIf="authService.isLoggedIn()">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/budget-planner/dashboard">Dashboard</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Income & Expenses
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" class="nav-link" routerLink="/income-expense/add-income">Add Income</a></li>
                <li><a class="dropdown-item" class="nav-link" routerLink="/income-expense/income-list">Income List</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" class="nav-link" routerLink="/income-expense/add-expense">Add Expenses</a></li>
                <li><a class="dropdown-item" class="nav-link" routerLink="/income-expense/expense-list">Expenses List</a></li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/budget/budget-setting">Budget</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/category">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/reports">Reports</a>
            </li>
          </ul>
          <div class="d-flex">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                  <!-- <li class="nav-item">
                      <a class="nav-link" routerLink="/user-management/profile">Profile</a>
                  </li> -->
                  <li class="nav-item">
                    <button type="button" class="Btn" (click)="logout()">
                      <div class="sign">
                        <svg viewBox="0 0 512 512">
                          <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                        </svg>
                      </div>
                      <div class="text">Logout</div>
                    </button>
                  </li>
              </ul>
          </div>
      </ng-container>
    </div>
  </nav>