<app-side-nav></app-side-nav>
<div class="container">
<div class="row">
    <div class="col-md-6 mx-auto">
        <form class="row g-3 my-5 profileForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <h5 class="text-center">User Profile</h5>
            <div class="col-md-12">
              <label class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-md-6">
              <label class="form-label">Age</label>
              <input type="number" class="form-control" formControlName="age">
            </div>
            <div class="col-md-6">
              <label for="validationCustomUsername" class="form-label">Username</label>
              <input type="date" class="form-control" formControlName="dob">
            </div>
            <div class="col-md-6">
                <label for="gender" class="form-label">Gender:</label>
                <select id="gender" class="form-select" formControlName="gender">
                    <option value="" selected disabled>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
              </div>
              <div class="col-md-6">
                <label class="form-label">Occupation</label>
                <input type="email" class="form-control" formControlName="occupation">
              </div>
              <div class="col-md-6">
                <label class="form-label">Contact</label>
                <input type="email" class="form-control" formControlName="contact">
              </div>
              <div class="col-md-12">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" formControlName="address">
              </div>
            <div class="col-12">
              <button class="btn custom-btn" type="submit">Submit</button>
            </div>
          </form>
    </div>
</div>
</div>