<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-md-8 mx-auto">
      <div class="income-table shadow-sm p-3 mb-5 bg-body rounded">
        <table class="table">
          <thead>
            <tr>
              <th>Income Categories</th>
              <th class="text-end"><button class="btn btn-success btn-2 custom-btn" data-bs-toggle="modal"
                  data-bs-target="#addIncomeCategoryModal">+ Add</button></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categorieslist?.[0]?.income; let i=index">
              <td>{{ category}}</td>
              <td class="text-end"><span class="icon-outer edit me-3"><i class="fa-solid fa-pencil"></i></span><span
                  class="icon-outer trash" (click)="removeIncomeCategory(i)"><i class="fa-solid fa-trash"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="expense-table shadow-sm p-3 mb-5 bg-body rounded">
        <table class="table">
          <thead>
            <tr>
              <th>Expense Categories</th>
              <th class="text-end"><button class="btn btn-success btn-2 custom-btn" data-bs-toggle="modal"
                  data-bs-target="#addExpenseCategoryModal">+ Add</button></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categorieslist?.[0]?.expense; let i=index">
              <td>{{ category}}</td>
              <td class="text-end"><span class="icon-outer edit me-3"><i class="fa-solid fa-pencil"></i></span><span
                  class="icon-outer trash" (click)="removeExpenseCategory(i)"><i class="fa-solid fa-trash"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    <div class="app-wrapper">
      <div class="tab-container">
        <div class="tab-header">
          <h1>Categories</h1>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
              role="tab" aria-controls="home" aria-selected="true"> <span id="tab1-title-text">Income</span> </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
              role="tab" aria-controls="profile" aria-selected="false">
              <span id="tab2-title-text">Expense</span> </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table">
              <thead>
                <tr>
                  <th>Income Categories</th>
                  <th class="text-end"><button class="btn btn-success btn-2 custom-btn" data-bs-toggle="modal"
                      data-bs-target="#addIncomeCategoryModal">+ Add</button></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categorieslist?.[0]?.income; let i=index">
                  <td>{{ category}}</td>
                  <td class="text-end"><span class="icon-outer edit me-3"><i class="fa-solid fa-pencil"></i></span><span
                      class="icon-outer trash" (click)="removeIncomeCategory(i)"><i
                        class="fa-solid fa-trash"></i></span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table">
              <thead>
                <tr>
                  <th>Expense Categories</th>
                  <th class="text-end"><button class="btn btn-success btn-2 custom-btn" data-bs-toggle="modal"
                      data-bs-target="#addExpenseCategoryModal">+ Add</button></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categorieslist?.[0]?.expense; let i=index">
                  <td>{{ category}}</td>
                  <td class="text-end"><span class="icon-outer edit me-3"><i class="fa-solid fa-pencil"></i></span><span
                      class="icon-outer trash" (click)="removeExpenseCategory(i)"><i
                        class="fa-solid fa-trash"></i></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Income category -->
  <div class="modal fade" id="addIncomeCategoryModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Income Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newIncomeCategory" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-2 custom-btn" (click)="addIncomeCategory()"
            data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addExpenseCategoryModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Expense Category</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newExpenseCategory" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-2 custom-btn" (click)="addExpenseCategory()"
            data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>