.box{
    border-radius: 3px;
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
    height: 25px;
    width: 25px;
}
.editbox{
    background-color: deepskyblue;
    font-size: 11px;
}