$primary_color:#dac4d0;
$secondary_color:#8f5774;

.rounded-corner{
    border-radius: 30px;
}
.bg-color{
    background-color: $primary_color;
}

.colored-text{
    color: $secondary_color;
}
.formWrapper{
    .btnlogin{
        background-color: $secondary_color;  
        color: white;
    }
    i{
        color: #8f5774;
    }
    .createacc{
        color: #8f5774;
        cursor: pointer;
    }
}
