
html, body { height: 100%; }
body {
   margin: 0; 
  font-family: "Poppins", sans-serif !important;
}

/* From Uiverse.io by AqFox */ 
.custom-btn {
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  outline: none;
  font-size: 15px;
}

.btn-2 {
  background: #0cc0df;
  background: linear-gradient(0deg, #0cc0df 0%, #0cc0df 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.form-control-lg{
  font-size: 16px !important;
  border: 1px solid #0cc0df;

  &:focus{
      border-color: #0cc0df;
      box-shadow: none
  }
  &:focus-visible{
      outline: none;
      box-shadow: 0 0 0 3px rgba(12, 192, 223, 0.4); /* green glow */
      border-color: rgb(12, 192, 223);
  }
}
