<div class="">
    <section class="banner-sec py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="./images/mockup03.jpg" alt="image" class="rounded img">
                </div>
                <div class="col-md-6">
                    <div>
                        <h1 class="heading">Smart Budgeting for a Stress-Free Life!</h1>
                        <p class="mb-4">
                            Track your income, manage expenses, and achieve your financial goals effortlessly. Our budget planner helps you stay on top of your finances with easy-to-use tools
                        </p>
                        <button class="btn btn-style">Know More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-sec">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                    <div class="block d-flex">
                        <div class="imgOuter me-3">
                            <!-- <img src="" alt="image" class=""> -->
                        </div>
                        <div>
                            <h6>Income Managemen</h6>
                            <p class="mb-0">Track your earnings effortlessly.</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block d-flex">
                        <div class="imgOuter me-3">
                            <!-- <img src="" alt="image" class=""> -->
                        </div>
                        <div>
                            <h6>Expense Tracking</h6>
                            <p class="mb-0">Keep an eye on where your money goes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block d-flex">
                        <div class="imgOuter me-3">
                            <!-- <img src="" alt="image" class=""> -->
                        </div>
                        <div>
                            <h6>Budget Goals</h6>
                            <p class="mb-0">Set financial targets and achieve them.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block d-flex">
                        <div class="imgOuter me-3">
                            <!-- <img src="" alt="image" class=""> -->
                        </div>
                        <div>
                            <h6>Reports & Insights</h6>
                            <p class="mb-0">Visual charts for better decision-making.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <section class="messageSec py-5">
        <div class="container">
                <h1 class="text-center msg"> A budget is telling your money where to go <br>instead of wondering where it went."</h1>
        </div>
    </section>
    <div style="height: 60px;"></div>
    <section class="footer-sec">
        <div class="container-fluid">
                <h6 class="text-center text-light my-3">© 2025 Budget Planner. All rights reserved.</h6>
        </div>
    </section>
</div>
