<div class="container py-5">
    <div class="row">
     <div class="col-md-8 mx-auto">        
         <form class="row g-3 shadow-lg p-5 rounded formWrapper" [formGroup]="addExpenseForm" (ngSubmit)="addData()">
             <div class="col-md-12 mt-0">
                 <div class="row align-items-center">
                 <div class="col-md-6">
                     <img src="./images/expense_bg.png" alt="login image" width="100%">
                 </div>
                 <div class="col-md-6">
                     <div class="row">
                         <h3 class="text-center colored-text mb-5 fw-bold">
                             Add Expense Details
                         </h3>
                         <div class=" col-md-12 mb-3">
                             <input class="form-control ps-3" type="text" placeholder="Rs. 10,000" formControlName="amount">
                         </div> 
                          <div class="col-md-12 mb-3">
                            <select class="form-select ps-3" name="country" formControlName = "category">
                              <option selected disabled value="">Category...</option>
                              <option *ngFor="let cat of expenseCategories" [value]="cat">{{cat}}</option>
                            </select>
                          </div> 
                          <div class="col-md-12 mb-3">
                            <select class="form-select ps-3" name="paymentMode" formControlName = "paymentMode">
                                <option selected disabled value="">Select Payment Method</option>
                                <option value="Cash">Cash</option>
                                <option value="Credit Card">UPI</option>
                                <option value="Credit Card">Credit Card</option>
                                <option value="Bank Transfer">Bank Transfer</option>
                            </select>
                          </div>  
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <textarea id="description" formControlName="description" class="form-control" placeholder=""></textarea>
                            </div>
                        </div>  
                          <div class="col-md-12 mb-3">
                            <input type="date" class="form-control ps-3" id="dateOfExpense" formControlName = "dateOfExpense" placeholder="Date of Income:">
                          </div>  
                          <div class="col-md-12 mt-4">
                            <button class="btn-2 custom-btn w-100 mb-3 ps-3 rounded-corner" type="submit" [disabled]="addExpenseForm.invalid">Save</button>
                          </div>
                     </div>
                 </div>
             </div>
             </div>
         </form>
     </div>
    </div>
</div>

